/* -- Start GHL Style CSS -- */

:root {
  --brand-logo: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1745646079/AutoGenCRM_k4fbya.png);
  --brand-primary-color: #f88f2d;
  --brand-secondary-color: #f2f2f2;
  --brand-acent-color: #f88f2d;
  --ghl-topbar-color: #ffffff;
  --ghl-sidebar-color: #ffffff;
  --menu-hover-color: #f88f2d;
  --menu-active-color: #f88f2d;
  --sidebar-bottom-toggle: #f88f2d;
  --ghl-widgets-color: #f88f2d;
  --ghl-widgets-bg-color: #ffffff;
  --ghl-topbar-text-color: #232323;
  --menu-text-color: #232323;
  --ghl-dashboard-icon-color: #232323;
  --ghl-widgets-text-color: #ffffff;
  --ghl-widgets-icon-color: #ffffff;
  --ghl-topbar-icon-color: #ffffff;
  --Launch-Pad-Text: "Launch Pad";
  --Dashboard-Text: "Dashboard";
  --Conversations-Text: "Conversations";
  --Calendar-Text: "Calendar";
  --Contacts-Text: "Contacts";
  --Opportunities-Text: "Pipelines";
  --Payments-Text: "Payments";
  --AI-Agents-Text: "AI Agents";
  --Marketing-Text: "Marketing";
  --Automations-Text: "Automations";
  --Sites-Text: "Sites";
  --Memberships-Text: "Memberships";
  --Media-Storage-Text: "Media Storage";
  --Reputation-Text: "Reputation";
  --Reporting-Text: "Reporting";
  --App-Marketplace-Text: "App Marketplace";
  --Mobile-App-Text: "Mobile App";
  --Settings-Text: "Settings";
  --launch-pad-icon: url();
  --dashboard-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120800/ChartDonut_uv24q5.svg);
  --conversations-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120801/Chats_gy4t3v.svg);
  --calendars-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120799/CalendarDots_po1cro.svg);
  --contacts-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120801/IdentificationCard_rn0h6f.svg);
  --opportunities-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120799/HandCoins_zoqaps.svg);
  --payments-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120801/Chats_gy4t3v.svg);
  --ai-agents-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120797/AIAgents_bkcjdh.svg);
  --marketing-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120803/Megaphone_ev02mj.svg);
  --automations-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120798/GearFine_tmenvl.svg);
  --sites-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120798/Browser_rssmn4.svg);
  --memberships-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120799/Certificate_oupmjc.svg);
  --media-storage-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120801/ImagesSquare_pt9nsc.svg);
  --reputation-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120801/ListStar_hp6kwz.svg);
  --reporting-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120800/ChartBar_glswb6.svg);
  --app-marketplace-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120803/SquaresFour_cs74e8.svg);
  --mobile-app-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120797/DeviceMobileCamera_ee6bjc.svg);
  --settings-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120804/ToggleRight_ilkgn7.svg);
  --icon-dialer: url(https://storage.googleapis.com/msgsndr/54rcoWUJTCwJhNGYy1CE/media/691343316d09edb734c02af8.png);
  --icon-askai: url(https://storage.googleapis.com/msgsndr/54rcoWUJTCwJhNGYy1CE/media/691343316d09ed2746c02af9.png);
  --icon-activitie: url(https://storage.googleapis.com/msgsndr/54rcoWUJTCwJhNGYy1CE/media/691343319bbd7d0b6ffb3719.png);
  --icon-help: url(https://storage.googleapis.com/msgsndr/54rcoWUJTCwJhNGYy1CE/media/691343319bbd7d75a5fb3718.png);
  --icon-canny-logs: url(https://storage.googleapis.com/msgsndr/54rcoWUJTCwJhNGYy1CE/media/69134331bf6977a2efe31d96.png);
}

/* -- End GHL Style CSS -- */