/* -- Start GHL Style CSS -- */

:root {
  --brand-logo: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1745646079/AutoGenCRM_k4fbya.png);
  --brand-primary-color: #ffc451;
  --brand-secondary-color: #151515;
  --brand-acent-color: #555555;
  --ghl-topbar-color: #312f2f;
  --ghl-sidebar-color: #312f2f;
  --menu-hover-color: #555555;
  --menu-active-color: #ffc451;
  --sidebar-bottom-toggle: #ffc451;
  --ghl-widgets-color: #ffc451;
  --ghl-widgets-bg-color: #ffffff;
  --ghl-topbar-text-color: #ffffff;
  --menu-text-color: #ffffff;
  --ghl-dashboard-icon-color: #ffffff;
  --ghl-widgets-text-color: #312f2f;
  --ghl-widgets-icon-color: #ffffff;
  --ghl-topbar-icon-color: #ffffff;
  --Launch-Pad-Text: "Launch Pad";
  --Dashboard-Text: "Dashboard";
  --Conversations-Text: "Conversations";
  --Calendar-Text: "Calendar";
  --Contacts-Text: "Contacts";
  --Opportunities-Text: "Opportunities";
  --Payments-Text: "Payments";
  --AI-Agents-Text: "AI Agents";
  --Marketing-Text: "Marketing";
  --Automations-Text: "Automations";
  --Sites-Text: "Sites";
  --Memberships-Text: "Memberships";
  --Media-Storage-Text: "Media Storage";
  --Reputation-Text: "Reputation";
  --Reporting-Text: "Reporting";
  --App-Marketplace-Text: "App Marketplace";
  --Mobile-App-Text: "Mobile App";
  --Settings-Text: "Settings";
  --launch-pad-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756122181/RocketLaunch_jstmtl.svg);
  --dashboard-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756122176/ChartDonut_lm27wu.svg);
  --conversations-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756122177/Chats_k383nq.svg);
  --calendars-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756122175/CalendarDots_ttl4e5.svg);
  --contacts-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756122178/IdentificationCard_qrl2nb.svg);
  --opportunities-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756122178/HandCoins_sdy5df.svg);
  --payments-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756122177/CurrencyDollarSimple_atufse.svg);
  --ai-agents-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756122175/AIAgents_u4n7kg.svg);
  --marketing-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756122180/Megaphone_bni9g1.svg);
  --automations-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756122177/GearFine_sjfwv6.svg);
  --sites-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756122182/Slash_eqvcm1.svg);
  --memberships-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756122175/Certificate_djw5kt.svg);
  --media-storage-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756122179/ImagesSquare_k0ephn.svg);
  --reputation-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756122179/ListStar_woqxiu.svg);
  --reporting-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756122175/ChartBar_c2amn6.svg);
  --app-marketplace-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756122183/SquaresFour_uuuf6g.svg);
  --mobile-app-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756122177/DeviceMobileCamera_vrbltz.svg);
  --settings-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756122181/Settings_qkir7e.svg);
  --icon-dialer: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756122179/Phone_mlk1bz.svg);
  --icon-askai: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756122175/AIAsk_xkz8s5.svg);
  --icon-activitie: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756122175/Bell_mtyhm2.svg);
  --icon-help: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756122180/Question_hlakrs.svg);
  --icon-canny-logs: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756122179/Megaphone-1_du0t4r.svg);
}

/* -- End GHL Style CSS -- */