/* -- Start GHL Style CSS -- */

:root {
  --brand-logo: url(https://storage.googleapis.com/msgsndr/5dXNiV4pSDJvUYTPRPT7/media/67b502b5d79bed366b0f4b5e.png);
  --brand-primary-color: #d53d7d;
  --brand-secondary-color: #26141e;
  --brand-acent-color: #afe9d3;
  --ghl-topbar-color: #26141e;
  --ghl-sidebar-color: #26141e;
  --menu-hover-color: #b9366c;
  --menu-active-color: #d53d7d;
  --sidebar-bottom-toggle: #5c4e56;
  --ghl-widgets-color: #ffffff;
  --ghl-widgets-bg-color: #ffffff;
  --ghl-topbar-text-color: #ffffff;
  --menu-text-color: #ffffff;
  --ghl-dashboard-icon-color: #83878f;
  --ghl-widgets-text-color: #ffffff;
  --ghl-widgets-icon-color: #ffffff;
  --ghl-topbar-icon-color: #ffffff;
  --Launch-Pad-Text: "Welcome";
  --Dashboard-Text: "Dashboard";
  --Conversations-Text: "Client Chat";
  --Calendar-Text: "Calendar";
  --Contacts-Text: "Contacts";
  --Opportunities-Text: "Opportunities";
  --Payments-Text: "Payments";
  --AI-Agents-Text: "AI Agents";
  --Marketing-Text: "Marketing";
  --Automations-Text: "Automations";
  --Sites-Text: "Sites";
  --Memberships-Text: "Wellness Plans";
  --Media-Storage-Text: "Media Storage";
  --Reputation-Text: "Testimonials";
  --Reporting-Text: "Analytics";
  --App-Marketplace-Text: "Add-ons";
  --Mobile-App-Text: "Mobile Access";
  --Settings-Text: "Settings";
  --launch-pad-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120803/RocketLaunch_foomvx.svg);
  --dashboard-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120800/ChartDonut_uv24q5.svg);
  --conversations-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120801/Chats_gy4t3v.svg);
  --calendars-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120799/CalendarDots_po1cro.svg);
  --contacts-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120801/IdentificationCard_rn0h6f.svg);
  --opportunities-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120799/HandCoins_zoqaps.svg);
  --payments-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120801/Chats_gy4t3v.svg);
  --ai-agents-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120797/AIAgents_bkcjdh.svg);
  --marketing-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120803/Megaphone_ev02mj.svg);
  --automations-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120798/GearFine_tmenvl.svg);
  --sites-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120798/Browser_rssmn4.svg);
  --memberships-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120799/Certificate_oupmjc.svg);
  --media-storage-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120801/ImagesSquare_pt9nsc.svg);
  --reputation-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120801/ListStar_hp6kwz.svg);
  --reporting-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120800/ChartBar_glswb6.svg);
  --app-marketplace-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120803/SquaresFour_cs74e8.svg);
  --mobile-app-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120797/DeviceMobileCamera_ee6bjc.svg);
  --settings-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120804/ToggleRight_ilkgn7.svg);
  --icon-dialer: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120803/Phone_njlig6.svg);
  --icon-askai: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120797/AIAsk_r48peo.svg);
  --icon-activitie: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120798/Bell_xwzveh.svg);
  --icon-help: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120803/Question_qbzmwm.svg);
  --icon-canny-logs: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120802/Megaphone-1_qocvdf.svg);
}

/* -- End GHL Style CSS -- */