/* -- Start GHL Style CSS -- */

:root {
  --brand-logo: url(https://msgsndr-private.storage.googleapis.com/companyPhotos/cc7ed786-c8a8-49d8-8187-c1da8612908d.png);
  --brand-primary-color: #75b0c4;
  --brand-secondary-color: #091325;
  --brand-acent-color: #00c8ff;
  --ghl-topbar-color: linear-gradient(90deg, #192234, #1a2436);
  --ghl-sidebar-color: linear-gradient(180deg, #192234, #0b5676);
  --menu-hover-color: #050d11;
  --menu-active-color: #428ab6;
  --sidebar-bottom-toggle: linear-gradient(90deg, #a47cee, #333333);
  --ghl-widgets-color: linear-gradient(0deg, #192234, #192234);
  --ghl-widgets-bg-color: #c0ccd6;
  --ghl-topbar-text-color: #00c8ff;
  --menu-text-color: #ffffff;
  --ghl-dashboard-icon-color: #00c8ff;
  --ghl-widgets-text-color: #ffffff;
  --ghl-widgets-icon-color: #00c8ff;
  --ghl-topbar-icon-color: #00c8ff;
  --Launch-Pad-Text: "Launcher";
  --Dashboard-Text: "Dashboard";
  --Conversations-Text: "My Messages";
  --Calendar-Text: "My Schedule";
  --Contacts-Text: "My Contacts";
  --Opportunities-Text: "My Deals";
  --Payments-Text: "Payment System";
  --AI-Agents-Text: "AI Assignments";
  --Marketing-Text: "Social & Marketing";
  --Automations-Text: "Automated Processes";
  --Sites-Text: "Websites & Forms";
  --Memberships-Text: "Customer Portal";
  --Media-Storage-Text: "Media Library";
  --Reputation-Text: "Reviews & Rep";
  --Reporting-Text: "Analytics & Reporting";
  --App-Marketplace-Text: "Integrations";
  --Mobile-App-Text: "Mobile App";
  --Settings-Text: "Control Panel";
  --launch-pad-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120803/RocketLaunch_foomvx.svg);
  --dashboard-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120800/ChartDonut_uv24q5.svg);
  --conversations-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120801/Chats_gy4t3v.svg);
  --calendars-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120799/CalendarDots_po1cro.svg);
  --contacts-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120801/IdentificationCard_rn0h6f.svg);
  --opportunities-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120799/HandCoins_zoqaps.svg);
  --payments-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120801/Chats_gy4t3v.svg);
  --ai-agents-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120797/AIAgents_bkcjdh.svg);
  --marketing-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120803/Megaphone_ev02mj.svg);
  --automations-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120798/GearFine_tmenvl.svg);
  --sites-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120798/Browser_rssmn4.svg);
  --memberships-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120799/Certificate_oupmjc.svg);
  --media-storage-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120801/ImagesSquare_pt9nsc.svg);
  --reputation-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120801/ListStar_hp6kwz.svg);
  --reporting-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120800/ChartBar_glswb6.svg);
  --app-marketplace-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120803/SquaresFour_cs74e8.svg);
  --mobile-app-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120797/DeviceMobileCamera_ee6bjc.svg);
  --settings-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120804/ToggleRight_ilkgn7.svg);
  --icon-dialer: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120803/Phone_njlig6.svg);
  --icon-askai: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120797/AIAsk_r48peo.svg);
  --icon-activitie: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120798/Bell_xwzveh.svg);
  --icon-help: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120803/Question_qbzmwm.svg);
  --icon-canny-logs: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120802/Megaphone-1_qocvdf.svg);
}

/* -- End GHL Style CSS -- */