/* -- Start GHL Style CSS -- */

:root {
  --brand-logo: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1745646079/AutoGenCRM_k4fbya.png);
  --brand-primary-color: #1e61aa;
  --brand-secondary-color: #e8e8e8;
  --brand-acent-color: #fa894e;
  --ghl-topbar-color: #1e61aa;
  --ghl-sidebar-color: #000000;
  --menu-hover-color: #e3aa8c;
  --menu-active-color: #fa894e;
  --sidebar-bottom-toggle: #f16922;
  --ghl-widgets-color: linear-gradient(90deg, #f16922, #fa894e);
  --ghl-widgets-bg-color: #ffffff;
  --ghl-topbar-text-color: #ffffff;
  --menu-text-color: #ffffff;
  --ghl-dashboard-icon-color: #83878f;
  --ghl-widgets-text-color: #ffffff;
  --ghl-widgets-icon-color: #ffffff;
  --ghl-topbar-icon-color: #ffffff;
  --Launch-Pad-Text: "Home Dashboard";
  --Dashboard-Text: "Analytics";
  --Conversations-Text: "Chats";
  --Calendar-Text: "Job Schedule";
  --Contacts-Text: "Leads";
  --Opportunities-Text: "Sales Pipeline";
  --Payments-Text: "Payments";
  --AI-Agents-Text: "AI Agents";
  --Marketing-Text: "Marketing Hub";
  --Automations-Text: "Automations";
  --Sites-Text: "Sites";
  --Memberships-Text: "Client Portal";
  --Media-Storage-Text: "Files & Media";
  --Reputation-Text: "Reviews";
  --Reporting-Text: "Reports";
  --App-Marketplace-Text: "Integrations";
  --Mobile-App-Text: "Mobile App";
  --Settings-Text: "Settings";
  --launch-pad-icon: url(https://storage.googleapis.com/msgsndr/yaihNMAWoocfHuZEIH9X/media/63ac7841ad0ddcf8e5ec8614.png);
  --dashboard-icon: url(https://storage.googleapis.com/msgsndr/yaihNMAWoocfHuZEIH9X/media/63ac78418b212bf0b427baa2.png);
  --conversations-icon: url(https://storage.googleapis.com/msgsndr/yaihNMAWoocfHuZEIH9X/media/63ac7841ad0ddc6d74ec8616.png);
  --calendars-icon: url(https://storage.googleapis.com/msgsndr/yaihNMAWoocfHuZEIH9X/media/63ac78418b212b4be127baa5.png);
  --contacts-icon: url(https://storage.googleapis.com/msgsndr/yaihNMAWoocfHuZEIH9X/media/63ac78418b212b272b27baa6.png);
  --opportunities-icon: url(https://storage.googleapis.com/msgsndr/yaihNMAWoocfHuZEIH9X/media/63ac78418b212be00027baa4.png);
  --payments-icon: url(https://storage.googleapis.com/msgsndr/yaihNMAWoocfHuZEIH9X/media/63ac7841408c0b4517ffbe1e.png);
  --ai-agents-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120797/AIAgents_bkcjdh.svg);
  --marketing-icon: url(https://storage.googleapis.com/msgsndr/yaihNMAWoocfHuZEIH9X/media/63ac7841ad0ddce006ec8617.png);
  --automations-icon: url(https://storage.googleapis.com/msgsndr/yaihNMAWoocfHuZEIH9X/media/63ac7841ad0ddc15aeec8613.png);
  --sites-icon: url(https://storage.googleapis.com/msgsndr/yaihNMAWoocfHuZEIH9X/media/63ac7841ad0ddc7d39ec8615.png);
  --memberships-icon: url(https://storage.googleapis.com/msgsndr/DHRMQ5XOruJppaGiELKT/media/6603271fcb117c685c45f795.png);
  --media-storage-icon: url(https://storage.googleapis.com/msgsndr/vsUiuSsx2CmRK5SB6Nc0/media/66c7a06df69015748ef02619.png);
  --reputation-icon: url(https://storage.googleapis.com/msgsndr/yaihNMAWoocfHuZEIH9X/media/63ac7841408c0b4282ffbe1f.png);
  --reporting-icon: url(https://storage.googleapis.com/msgsndr/yaihNMAWoocfHuZEIH9X/media/63ac7841ad0ddcd379ec8612.png);
  --app-marketplace-icon: url(https://storage.googleapis.com/msgsndr/DHRMQ5XOruJppaGiELKT/media/6603271f3828fe5806d04ef4.png);
  --mobile-app-icon: url(https://storage.googleapis.com/msgsndr/DHRMQ5XOruJppaGiELKT/media/6603271ffcdb66e86ef68d63.png);
  --settings-icon: url(https://storage.googleapis.com/msgsndr/yaihNMAWoocfHuZEIH9X/media/63ac78418b212b4fad27baa3.png);
  --icon-dialer: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120803/Phone_njlig6.svg);
  --icon-askai: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120797/AIAsk_r48peo.svg);
  --icon-activitie: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120798/Bell_xwzveh.svg);
  --icon-help: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120803/Question_qbzmwm.svg);
  --icon-canny-logs: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120802/Megaphone-1_qocvdf.svg);
}

/* -- End GHL Style CSS -- */