/* -- Start GHL Style CSS -- */

:root {
  --brand-logo: url(https://storage.googleapis.com/msgsndr/eqIpmGgp79nCkCMwvf5C/media/695047a4ee1047735eebfd93.png);
  --brand-primary-color: #111827;
  --brand-secondary-color: #111827;
  --brand-acent-color: #1d4ed8;
  --ghl-topbar-color: #111827;
  --ghl-sidebar-color: #111827;
  --menu-hover-color: #f9f7f2;
  --menu-active-color: #ff6b00;
  --sidebar-bottom-toggle: #ff6b00;
  --ghl-widgets-color: #111827;
  --ghl-widgets-bg-color: #ffffff;
  --ghl-topbar-text-color: #f9f7f2;
  --menu-text-color: #f9f7f2;
  --ghl-dashboard-icon-color: #f9f7f2;
  --ghl-widgets-text-color: #f9f7f2;
  --ghl-widgets-icon-color: #f9f7f2;
  --ghl-topbar-icon-color: #f9f7f2;
  --Launch-Pad-Text: "Lancement";
  --Dashboard-Text: "Tableau de bord";
  --Conversations-Text: "Conversations";
  --Calendar-Text: "Calendrier";
  --Contacts-Text: "Contacts";
  --Opportunities-Text: "Opportunités";
  --Payments-Text: "Paiements";
  --AI-Agents-Text: "Agents IA";
  --Marketing-Text: "Marketing";
  --Automations-Text: "Automatisations";
  --Sites-Text: "Site Web";
  --Memberships-Text: "Memberships";
  --Media-Storage-Text: "Média";
  --Reputation-Text: "Réputation";
  --Reporting-Text: "Reporting";
  --App-Marketplace-Text: "Marketplace";
  --Mobile-App-Text: "App Mobile ";
  --Settings-Text: "Paramètres";
  --launch-pad-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120803/RocketLaunch_foomvx.svg);
  --dashboard-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120800/ChartDonut_uv24q5.svg);
  --conversations-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120801/Chats_gy4t3v.svg);
  --calendars-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120799/CalendarDots_po1cro.svg);
  --contacts-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120801/IdentificationCard_rn0h6f.svg);
  --opportunities-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120799/HandCoins_zoqaps.svg);
  --payments-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120801/Chats_gy4t3v.svg);
  --ai-agents-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120797/AIAgents_bkcjdh.svg);
  --marketing-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120803/Megaphone_ev02mj.svg);
  --automations-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120798/GearFine_tmenvl.svg);
  --sites-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120798/Browser_rssmn4.svg);
  --memberships-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120799/Certificate_oupmjc.svg);
  --media-storage-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120801/ImagesSquare_pt9nsc.svg);
  --reputation-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120801/ListStar_hp6kwz.svg);
  --reporting-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120800/ChartBar_glswb6.svg);
  --app-marketplace-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120803/SquaresFour_cs74e8.svg);
  --mobile-app-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120797/DeviceMobileCamera_ee6bjc.svg);
  --settings-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120804/ToggleRight_ilkgn7.svg);
  --icon-dialer: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120803/Phone_njlig6.svg);
  --icon-askai: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120797/AIAsk_r48peo.svg);
  --icon-activitie: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120798/Bell_xwzveh.svg);
  --icon-help: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120803/Question_qbzmwm.svg);
  --icon-canny-logs: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120802/Megaphone-1_qocvdf.svg);
}

/* -- End GHL Style CSS -- */