/* -- Start GHL Style CSS -- */

:root {
  --brand-logo: url(https://bibotcrm.it/ghlstyle/BiBOT-Logo.png);
  --brand-primary-color: #3a0ca3;
  --brand-secondary-color: #e8e8e8;
  --brand-acent-color: #673acf;
  --ghl-topbar-color: #3a0ca3;
  --ghl-sidebar-color: #3a0ca3;
  --menu-hover-color: #5223bc;
  --menu-active-color: #2d0d75;
  --sidebar-bottom-toggle: #2d0d75;
  --ghl-widgets-color: #3a0ca3;
  --ghl-widgets-bg-color: #ffffff;
  --ghl-topbar-text-color: #ffffff;
  --menu-text-color: #ffffff;
  --ghl-dashboard-icon-color: #000000;
  --ghl-widgets-text-color: #ffffff;
  --ghl-widgets-icon-color: #ffffff;
  --ghl-topbar-icon-color: #ffffff;
  --Launch-Pad-Text: "Pannello";
  --Dashboard-Text: "Dashboard";
  --Conversations-Text: "Messaggi";
  --Calendar-Text: "Calendario";
  --Contacts-Text: "Contatti";
  --Opportunities-Text: "Opportunità";
  --Payments-Text: "Pagamenti";
  --AI-Agents-Text: "Agente AI";
  --Marketing-Text: "Marketing";
  --Automations-Text: "Automazioni";
  --Sites-Text: "Siti e funnel";
  --Memberships-Text: "Memberships";
  --Media-Storage-Text: "Immagini";
  --Reputation-Text: "Recensioni";
  --Reporting-Text: "Report";
  --App-Marketplace-Text: "App Marketplace";
  --Mobile-App-Text: "Mobile App";
  --Settings-Text: "Impostazioni";
  --launch-pad-icon: url(https://bibotcrm.it/ghlstyle/Menu/lauchpad.svg);
  --dashboard-icon: url(https://bibotcrm.it/ghlstyle/Menu/dashboard.svg);
  --conversations-icon: url(https://bibotcrm.it/ghlstyle/Menu/messaggi.svg);
  --calendars-icon: url(https://bibotcrm.it/ghlstyle/Menu/calendario.svg);
  --contacts-icon: url(https://bibotcrm.it/ghlstyle/Menu/contatti.svg);
  --opportunities-icon: url();
  --payments-icon: url(https://bibotcrm.it/ghlstyle/Menu/pagamenti.svg);
  --ai-agents-icon: url(https://bibotcrm.it/ghlstyle/Menu/agenteai.svg);
  --marketing-icon: url(https://bibotcrm.it/ghlstyle/Menu/marketing.svg);
  --automations-icon: url(https://bibotcrm.it/ghlstyle/Menu/automazioni.svg);
  --sites-icon: url(https://bibotcrm.it/ghlstyle/Menu/sitiefunnel.svg);
  --memberships-icon: url(https://bibotcrm.it/ghlstyle/Menu/membership.svg);
  --media-storage-icon: url(https://bibotcrm.it/ghlstyle/Menu/immagini.svg);
  --reputation-icon: url(https://bibotcrm.it/ghlstyle/Menu/recensioni.svg);
  --reporting-icon: url(https://bibotcrm.it/ghlstyle/Menu/report.svg);
  --app-marketplace-icon: url(https://bibotcrm.it/ghlstyle/Menu/appmarketplace.svg);
  --mobile-app-icon: url(https://bibotcrm.it/ghlstyle/Menu/mobileapp.svg);
  --settings-icon: url(https://bibotcrm.it/ghlstyle/Menu/impostazione.svg);
  --icon-dialer: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120803/Phone_njlig6.svg);
  --icon-askai: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120797/AIAsk_r48peo.svg);
  --icon-activitie: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120798/Bell_xwzveh.svg);
  --icon-help: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120803/Question_qbzmwm.svg);
  --icon-canny-logs: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120802/Megaphone-1_qocvdf.svg);
}

/* -- End GHL Style CSS -- */