/* -- Start GHL Style CSS -- */

:root {
  --brand-logo: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1745646079/AutoGenCRM_k4fbya.png);
  --brand-primary-color: #000000;
  --brand-secondary-color: #ffd700;
  --brand-acent-color: #f7f3f3;
  --ghl-topbar-color: linear-gradient(45deg, #000000 0%, #222222 33%, #333333 100%);
  --ghl-sidebar-color: linear-gradient(90deg, #000000 0%, #222222 33%, #333333 100%);
  --menu-hover-color: #3a3e5a;
  --menu-active-color: #000000;
  --sidebar-bottom-toggle: linear-gradient(88deg, #000000 0%, #222222 33%, #333333 100%);
  --ghl-widgets-color: #040404;
  --ghl-widgets-bg-color: #000000;
  --ghl-topbar-text-color: #ffd700;
  --menu-text-color: #ffd700;
  --ghl-dashboard-icon-color: #be0000;
  --ghl-widgets-text-color: #ffd700;
  --ghl-widgets-icon-color: #ffd700;
  --ghl-topbar-icon-color: #be0000;
  --Launch-Pad-Text: "Launch Pad";
  --Dashboard-Text: "Dashboard";
  --Conversations-Text: "Conversations";
  --Calendar-Text: "Calendar";
  --Contacts-Text: "Contacts";
  --Opportunities-Text: "Opportunities";
  --Payments-Text: "Payments";
  --AI-Agents-Text: "AI Agents";
  --Marketing-Text: "Marketing";
  --Automations-Text: "Automations";
  --Sites-Text: "Sites";
  --Memberships-Text: "Memberships";
  --Media-Storage-Text: "Media Storage";
  --Reputation-Text: "Reputation";
  --Reporting-Text: "Reporting";
  --App-Marketplace-Text: "App Marketplace";
  --Mobile-App-Text: "Mobile App";
  --Settings-Text: "Settings";
  --launch-pad-icon: url(https://storage.googleapis.com/msgsndr/NWLiaCGqAwk0CFsalqZs/media/693435f281eaa1b919db8bda.svg);
  --dashboard-icon: url(https://storage.googleapis.com/msgsndr/NWLiaCGqAwk0CFsalqZs/media/693438081d466eaabd06e66a.svg);
  --conversations-icon: url(https://storage.googleapis.com/msgsndr/NWLiaCGqAwk0CFsalqZs/media/693435cfec99b3c371cc6ecf.svg);
  --calendars-icon: url(https://storage.googleapis.com/msgsndr/NWLiaCGqAwk0CFsalqZs/media/693435bce6551c3968b4af12.svg);
  --contacts-icon: url(https://storage.googleapis.com/msgsndr/NWLiaCGqAwk0CFsalqZs/media/693435f281eaa104cddb8bd5.svg);
  --opportunities-icon: url(https://storage.googleapis.com/msgsndr/NWLiaCGqAwk0CFsalqZs/media/693435cf1d466ecf0d06b763.svg);
  --payments-icon: url(https://storage.googleapis.com/msgsndr/NWLiaCGqAwk0CFsalqZs/media/6934360a1d466e7baf06bba1.svg);
  --ai-agents-icon: url(https://storage.googleapis.com/msgsndr/NWLiaCGqAwk0CFsalqZs/media/693435bcec99b323d9cc6bbc.svg);
  --marketing-icon: url(https://storage.googleapis.com/msgsndr/NWLiaCGqAwk0CFsalqZs/media/693435f2e6551c65a1b4b417.svg);
  --automations-icon: url(https://storage.googleapis.com/msgsndr/NWLiaCGqAwk0CFsalqZs/media/693435cfe6551c0dd4b4b091.svg);
  --sites-icon: url(https://storage.googleapis.com/msgsndr/NWLiaCGqAwk0CFsalqZs/media/693435f2e6551c9b6ab4b418.svg);
  --memberships-icon: url(https://storage.googleapis.com/msgsndr/NWLiaCGqAwk0CFsalqZs/media/693436f7174e49c2e31928ce.svg);
  --media-storage-icon: url(https://storage.googleapis.com/msgsndr/NWLiaCGqAwk0CFsalqZs/media/693435f2e6551c703cb4b412.svg);
  --reputation-icon: url(https://storage.googleapis.com/msgsndr/NWLiaCGqAwk0CFsalqZs/media/693435cfe0f0923024f8d5d2.svg);
  --reporting-icon: url(https://storage.googleapis.com/msgsndr/NWLiaCGqAwk0CFsalqZs/media/693435f281eaa1fbb5db8bd4.svg);
  --app-marketplace-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120803/SquaresFour_cs74e8.svg);
  --mobile-app-icon: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120797/DeviceMobileCamera_ee6bjc.svg);
  --settings-icon: url(https://storage.googleapis.com/msgsndr/NWLiaCGqAwk0CFsalqZs/media/693435f281eaa1fbb5db8bd4.svg);
  --icon-dialer: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120803/Phone_njlig6.svg);
  --icon-askai: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120797/AIAsk_r48peo.svg);
  --icon-activitie: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120798/Bell_xwzveh.svg);
  --icon-help: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120803/Question_qbzmwm.svg);
  --icon-canny-logs: url(https://res.cloudinary.com/dn3mdxebf/image/upload/v1756120802/Megaphone-1_qocvdf.svg);
}

/* -- End GHL Style CSS -- */